.home-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

ul {
    text-align: left;
    display: inline-block;
    margin: 2rem 0;
}

li {
    margin-bottom: 0.5rem;
}