/* components/header-product.component.css */
/* Header Styles */

.navbar {
    text-align: center;
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
}

.navbar-item {
    font-size: 24px;
    font-weight: bold;
}

.header {
    background-color: #34495e;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    position: relative;
    cursor: pointer;
}

.cart span {
    margin-right: 5px;
}

.cart-items {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: #2c3e50;
    border: 1px solid #34495e;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.cart-items p {
    margin: 5px 0;
}

/* Product List Styles */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
}

.product-card {
    width: 30%;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-details {
    padding: 15px;
}

.product-details h3 {
    margin-top: 0;
    font-size: 20px;
}

.product-details p {
    margin: 5px 0;
}

.product-details button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-details button:hover {
    background-color: #27ae60;
}